<h1>Street Fighters</h1>
<div>
<ul>
<% @articles.each do |article| %>
<li><%= link_to article.title, article_path(article) %></li>
<% end %>
</ul>
</div>

<%= link_to "Add a Street Fighter", new_article_path, class: "btn btn-info p-3 m-2" %>
