// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
    font-family: 'Ceviche One', cursive;
    font-size: 25px;
    background-color: burlywood;
}

li:hover {
    cursor: pointer;
    color: lightcoral;
}